In [ ]:
name="keerti"
print(f"my name is {name}")

my name is keerti

In [ ]:
a="anu"
print("my name is:",name)

my name is: keerti

#**python syntax and structure**

Basic syntax rules

In [ ]:
print("Hello,World!")#Function call
x=5#Variable assignment
y=10#no need to declare type

Hello,World!

#**Python is case sensitive**

In [ ]:
Name="josna"
name="josna"
print(Name,name)

josna josna

**Identation matters**

In [ ]:
if x>0:
  print("x is positive")#4 spaces identation
  print("this is inside if block")

x is positive
this is inside if block

#**Variables and data types**

#**Numeric types**

In [ ]:
age=25#int
height=5.9#float
complex_num=3+4j#complex

#**String types**

In [ ]:
name="Anu"
message='Hello world'
multiline="""this is a multiline string"""

#**Boolean Types**

In [ ]:
is_active=True
is_finished=False

#**Type checking**

In [ ]:
print(type(age))# <class 'int'>
print(type(height)) # <class 'float'>
print(type(name)) # <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
type(age)

int

#**Type Conversion**

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)
print(f"Original:{str_number} (type: {type(str_number)})")
print(f"Integer:{int_number} (type: {type(int_number)})")
print(f"Float:{float_number} (type: {type(float_number)})")

Original:123 (type: <class 'str'>)
Integer:123 (type: <class 'int'>)
Float:123.0 (type: <class 'float'>)

#**Hands On Exercise**

#**Exercise 1:Personal Information**

create variables for personal information

In [ ]:
first_name="keerti"
last_name="Ullegaddi"
age=20
height=5.5
is_student=True

#**print formatted information**

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height:{height} feet")
print(f"Student: {is_student}")

Name: keerti Ullegaddi
Age: 20
Height:5.5 feet
Student: True

#**Type conversion**

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 20
Height as integer: 5

#**Operators and Basic Operations**

#**arithmetic operator**

In [ ]:
a=10
b=3
print("addition:",(a+b))
print("subtraction:",(a-b))
print("multiply:",(a*b))
print("divide:",(a/b))
print("Floor Division",a//b)
print("Modulus",a%b)
print("Exponentiation",(a**b))

addition: 13
subtraction: 7
multiply: 30
divide: 3.3333333333333335
Floor Division 3
Modulus 1
Exponentiation 1000

#**Order Of Operations(PEMDAS)**



*  **P-Parentheses**
*   **E-Exponents**


*   **M-Multiplication**
*   **D-Division**


*  **A-Addition**
*  **S-subtraction**

In [ ]:
result=2+3*4**2-1
print(f"2+3+4**2-1={result}")

2+3+4**2-1=49

#**Relational Operator**

In [ ]:
x=5
y=10
print(f"{x}=={y}:{x==y}")#equal to
print(f"{x}!={y}:{x==y}")#Not equal to
print(f"{x}<{y}:{x<y}")#less than
print(f"{x}>{y}:{x>y}")#greater than
print(f"{x}<={y}:{x<=y}")#less than or equal
print(f"{x}>{y}:{x>=y}")#greater than or equal

5==10:False
5!=10:False
5<10:True
5>10:False
5<=10:True
5>10:False

#**String Comparison**

In [ ]:
name1="Alice"
name2="bob"
print(f"{name1}<{name2}={name1<name2}")

Alice<bob=True

#**Logical Operator**

In [ ]:
p=True
q=False
print(f"p and q: {p and q}")#both must be true
print(f"p or q: {p or q}")#atleast one must be true
print(f"not p:{not p}")#opposite of p

p and q: False
p or q: True
not p:False

#**Practical Example**

In [ ]:
age=20
has_licence=True
can_drive=age>=18 and has_licence
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
#multiple condition
score=85
is_present=True
can_pass=score>=80 and is_present
print(f"can pass:{can_pass}")

can pass:True

#**Hands on exercise**
#**Exercise 2:Simple Calculator**
create a calculator that checks if person qualifies for a loan

In [ ]:
#personal information
age=25
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#loan criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#check qualifications
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

#**Data Structure**

#**Lists**

#**Creating list**

In [ ]:
fruits=["apple","banana","mango","orange"]
numbers=[10,20,30,40]
mixed_data=[1,"hello",3.14,True]

#**List indexing (0-based)**

In [ ]:
print(f"first fruit:{fruits[0]}")
print(f"last fruit:{fruits[-1]}")
print(f"second to last:{fruits[-2]}")

first fruit:apple
last fruit:orange
second to last:mango

#**List Slicing**

In [ ]:
print(f"First 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2:]}")
print(f"all except first:{fruits[1:]}")

First 2 fruits:['apple', 'banana']
last 2 fruits:['mango', 'orange']
all except first:['banana', 'mango', 'orange']

#**List methods**

In [ ]:
fruits.append("kiwi")#add to end
fruits.insert(1,"strawberry")#insert at index
removed=fruits.pop()#remove last
print(f"updated list:{fruits}")
print(f"Removed:{removed}")

updated list:['apple', 'strawberry', 'banana', 'mango', 'orange']
Removed:kiwi

#**List operations**

In [ ]:
print(f"Length:{len(fruits)}")
print(f"contains 'apple':{'apple' in fruits}")
print(f"Index of 'banana':{fruits.index('banana')}")

Length:5
contains 'apple':True
Index of 'banana':2

#**Tuple**

#**Tuples are immutable**

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"engineer",True)

#**Tuple Unpacking**

In [ ]:
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

#**Tuple methods**

In [ ]:
print(f"count of 25:{person_info.count(25)}")
print(f"Index of 'engineer':{person_info.index('engineer')}")

count of 25:1
Index of 'engineer':2

Why Use tuples?


* Immutable(safe for dictionary keys)


*  slightly faster than list
*   good for fixed collection